.padre{
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 50% 20% auto auto;
    grid-template-rows: 250px 100px auto;
    justify-content: space-between;
    /*align-items: center;*/
}
.hijo{
    background-color: goldenrod;
    /*width: 150px;
    height: 150px;*/
    border-style: solid;
    border-color: dimgrey;
    font-size: 50px;
    /*display: inline-block;*/
}
.hijo1{
    background-color: rgb(58, 255, 8);
    border-style: solid;
    border-color: dimgrey;
    font-size: 50px;
    grid-column: 1/5;
}
.hijo2{
    background-color: rgb(82, 8, 255);
    border-style: solid;
    border-color: dimgrey;
    font-size: 50px;
    grid-column: 1/4;
}
.hijo4{
    background-color: rgb(146, 4, 63);
    border-style: solid;
    border-color: dimgrey;
    font-size: 50px;
    grid-row: 3/5;
}